<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kailai.hciproject"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="me.kailai.hciproject.SensorsActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>  
    			<action android:name="android.intent.action.VIEW"/>  
    			<category android:name="android.intent.category.DEFAULT" />  
    			<category android:name="android.intent.category.BROWSABLE" />  
    			<data android:scheme="hciproject" android:host="hci.app" android:pathPrefix="/para"/>  
			</intent-filter> 
        </activity>
    </application>

</manifest>